.themeButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.themeButton img {
    width: 30px;
    height: 30px;
    filter: var(--primary-filter);
}

.themeButton img:hover {
    transform: scale(1.2);
    filter: var(--selected-filter);
}