.project {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    gap: 1rem;
    background-color: var(--background-secondary);
    border-radius: 5px;
    outline: var(--outline);
    padding: 1rem;

    img {
        border-radius: 5px;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.5rem;
        }
    }
}

@media (max-width: 600px) {
    .project {
        grid-template-columns: 1fr;
        
        img {
            order: 1
        }

        .content {
            order: 0;
        }
    }
}