.themeButton {
    display: inline-flex;
    flex-direction: row;
    gap: 0.25rem;
    border-radius: 5px;

    span {
        display: inline-flex;

        img {
            filter: var(--font-primary-filter);
        }
    }

    .selected {
        display: inline-flex;
    }
    
    .notSelected {
        display: none;
    }

    &:hover {
        cursor: pointer;

        span img {
            filter: var(--accent-primary-filter);
        }
    }
}