.themeButton {
    display: inline-flex;
    flex-direction: row;
    gap: 0.25rem;
    background-color: var(--background-secondary);
    outline: var(--outline);
    border-radius: 5px;
    padding: 0.5rem;

    span {
        display: inline-flex;

        img {
            filter: var(--font-primary-filter);
        }
    }

    .selected {
        display: inline-flex;
    }
    
    .notSelected {
        display: none;
    }

    &:hover {
        cursor: pointer;

        span img {
            filter: var(--accent-primary-filter);
        }
    }
}