@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mixins;

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    @include mixins.typography(vars.$font-size-5xl, vars.$font-weight-semibold);
    text-align: center;
    margin-bottom: vars.$space-20;
  }
}