.project {
    display: flex;
    flex-direction: row;
    gap: 25px;
    background-color: var(--background-secondary);
    box-shadow: var(--background-tertiary) 0px 3px 6px 0px;
    border-radius: 25px;
    padding: 25px;
}

@media (max-width: 880px) {
    .project {
        flex-direction: column-reverse;
    }
    .imgContainer img {
        display: none;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.imgContainer img {
    height: 320px;
    border-radius: 10px;
}
 
.title {
    color: var(--font-tertiary);
    font-size: 2rem;
    font-weight: 600;
    white-space: nowrap;
    margin: 0px;
}

.links {
    display: flex;
    gap: 20px;
}

.link {
    all: unset;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    padding: 5px 30px;
    background-color: var(--background-primary);
    box-shadow: var(--background-tertiary) 0px 3px 6px 0px;
    color: var(--font-primary);
    justify-content: center;
    align-items: center;

    p {
        font-size: 1.25rem;
        font-weight: 500;
        color: var(--font-primary);
    }

    img {
        display: none;
        width: 30px;
        height: 30px;
        filter: var(--accent-primary-filter);
    }
}

.link:hover {
    background-color: var(--background-secondary);
    cursor: pointer;

    img {
        display: flex;
    }
}

.description {
    color: var(--font-primary);
    font-size: 1.25rem;
}

.technologies {
    display: flex;
    margin-top: auto;
    gap: 20px;
}

.technology img {
    width: 30px;
    height: 30px;
    filter: var(--font-secondary-filter);
}

