@use '@/styles/variables' as vars;

.button  {
  display: inline-flex;
  gap: vars.$space-2;
  align-items: center;
  justify-content: center;
  padding: vars.$space-2;
  border-radius: 360px;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background: vars.$background-secondary;
    cursor: pointer;
  }
}