@use '@/styles/variables' as vars;

/* The Shapes #13 from CSS Loaders: https://css-loaders.com/shapes/ */

.spinner {
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
  display: grid;
}

.spinner::before,
.spinner::after {
  content: '';
  grid-area: 1/1;
  background: vars.$font-quaternary;
  clip-path: polygon(0 0,101% 0, 0 100%);
  animation: cube-slice 2s infinite;
}

.spinner::after {
  --s:-1,-1;
}

@keyframes cube-slice {
  0%,
  10%  { transform:scale(var(--s,1)) translate(0,0)        rotate(0deg) }
  33%  { transform:scale(var(--s,1)) translate(10px,-10px) rotate(0deg) }
  66%  { transform:scale(var(--s,1)) translate(10px,-10px) rotate(180deg) }
  90%,
  100% { transform:scale(var(--s,1)) translate(0px,0px)    rotate(180deg) }
}