:root {
  background-color: var(--background-primary);
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */

  --content-width: 1000px;

  --accent-primary:       #8FBCBB;
  --accent-secondary:     #88C0D0;
  --accent-tertiary:      #81A1C1;
  --accent-quaternary:    #5E81AC;

  --accent-primary-filter:    invert(72%) sepia(3%) saturate(2114%) hue-rotate(130deg) brightness(100%) contrast(89%);
  --accent-secondary-filter:  invert(80%) sepia(16%) saturate(648%) hue-rotate(147deg) brightness(89%) contrast(89%);
  --accent-tertiary-filter:   invert(62%) sepia(62%) saturate(190%) hue-rotate(169deg) brightness(91%) contrast(85%);
  --accent-quaternary-filter: invert(52%) sepia(14%) saturate(1178%) hue-rotate(173deg) brightness(92%) contrast(88%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  justify-content: center;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html[theme="light"] {
  --background-primary:    #ECEFF4;
  --background-secondary:  #E5E9F0;
  --background-tertiary:   #D8DEE9;
  --font-primary:          #2E3440;
  --font-secondary:        #434C5E;
  --font-tertiary:         #4C566A;
  
  --font-primary-filter:    invert(20%) sepia(7%) saturate(1344%) hue-rotate(182deg) brightness(96%) contrast(96%);
  --font-secondary-filter:  invert(27%) sepia(12%) saturate(1008%) hue-rotate(182deg) brightness(94%) contrast(85%);
  --font-tertiary-filter:   invert(33%) sepia(20%) saturate(472%) hue-rotate(182deg) brightness(97%) contrast(97%);
}

html[theme="dark"] {
  --background-primary:    #2E3440;
  --background-secondary:  #434C5E;
  --background-tertiary:   #4C566A;
  --font-primary:          #ECEFF4;
  --font-secondary:        #E5E9F0;
  --font-tertiary:         #D8DEE9; 

  --font-primary-filter:    invert(93%) sepia(12%) saturate(70%) hue-rotate(179deg) brightness(102%) contrast(93%);
  --font-secondary-filter:  invert(92%) sepia(12%) saturate(100%) hue-rotate(179deg) brightness(98%) contrast(97%);
  --font-tertiary-filter:   invert(94%) sepia(5%) saturate(500%) hue-rotate(185deg) brightness(94%) contrast(93%);
}

* {
  box-sizing: border-box;
  transition: color 0.3s ease-in-out, 
            background-color 0.3s ease-in-out, 
            border-color 0.3s ease-in-out, 
            filter 0.3s ease-in-out, 
            box-shadow 0.3s ease-in-out, 
            transform 0.3s ease-in-out;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--font-primary);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--accent-primary);
}

br {
  margin-bottom: 20px;
  display: inline-block;
}