.footer {
    background-color: var(--background-primary);
}

.content {
    display: flex;
    align-items: center;
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    padding: 25px;
}

.text {
    color: var(--font-primary);
    text-align: left;
    font-size: 1.2rem;
    margin-right: 25px;
}

.socials {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.icon {
    width: 30px;
    height: 30px;
    filter: var(--primary-filter);
}

.icon:hover {
    transform: scale(1.2);
    filter: var(--selected-filter);
}