.footer {
    background-color: var(--background-primary);
}

.content {
    display: flex;
    align-items: center;
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    padding: 25px;
}

.text {
    color: var(--font-primary);
    text-align: left;
    font-size: 1.2rem;
    margin-right: 25px;
}