.footer {
    background-color: var(--background-primary);
    align-items: left;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    padding: 25px;
}

.text {
    color: var(--font-secondary);
    font-size: 1.2rem;
    text-align: left;
}

.copyright {
    color: var(--font-tertiary);
    font-size: 1.0rem;
    text-align: left;
}