.hero {
    background-color: var(--background-primary);
}

.content {
    display: flex;
    flex-direction: row;
    gap: 50px;
    max-width: var(--content-width);
    width: 100%;
    margin: 100px auto;
    padding: 0 25px;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--font-primary);
    font-size: 3.5rem;
    white-space: nowrap;
    margin: 50px 0;
}

.border {
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-secondary);
    box-shadow: var(--background-tertiary) 0px 3px 6px 0px;
    border-radius: 25px;
    padding: 5px;
}

.picture {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    border: 4px solid var(--background-primary);
}

@media (max-width: 850px) {
    .content {
        flex-direction: column;
    }

    .border {
        max-width: 60%;
    }
    .title {
        font-size: 2.5rem;
    }
}
