.attributions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2rem;

    h1 {
        margin: 2rem 0;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem 1rem;
    }
}

@media (max-width: 700px) {
    .attributions .grid {
        grid-template-columns: 1fr;
    }
}