.experience {
    display: flex;
    flex-direction: row;
    background-color: var(--background-secondary);
    box-shadow: var(--background-tertiary) 0px 3px 6px 0px;
    border-radius: 25px;
    padding: 25px;
}

.content {
    display: flex;
    gap: 25px;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.jobTitle {
    color: var(--font-tertiary);
    font-size: 2rem;
    font-weight: 600;
    white-space: nowrap;
    margin: 0;
}

.date {
    font-size: 1.2rem;
    color: var(--font-primary);
    margin: 0 0 0 auto;
}

.link {
    all: unset;
    display: inline-flex;
    flex-direction: row;
    width: max-content;
    gap: 10px;
    align-items: center;

    img {
        width: 30px;
        height: 30px;
        filter: var(--accent-primary-filter);
        display: none;
    }
}

.link:hover {
    cursor: pointer;

    img {
        display: flex;
        animation: left-to-right 0.4s ease-in forwards;
    }

    .organisation {
        color: var(--accent-primary);
    }
}

.organisation {
    font-size: 1.5rem;
    color: var(--font-primary);
    margin: 0;
}

.description {
    color: var(--font-primary);
    font-size: 1.25rem;
    margin: 0;
}


.technologies {
    display: flex;
    margin-top: auto;
    gap: 20px;
}

.technology img {
    width: 30px;
    height: 30px;
    filter: var(--font-secondary-filter);
}

@media (max-width: 700px) {
    .header {
        flex-direction: column;
    }
    
    .date {
        margin-left: 0px;
    }

    .jobTitle {
        font-size: 1.6rem;
    }

    .organisation {
        font-size: 1.3rem;
    }
}

@keyframes left-to-right {
    0% {
        opacity: 0%;
        transform: translateX(-200%);
    }

    50% {
        opacity: 50%;
        transform: translateX(-100%);
    }

    100% {
        opacity: 100%;
        transform: translateX(0%);
    }
}