.attribution {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 1rem;
    background-color: var(--background-secondary);
    border-radius: 5px;
    outline: var(--outline);
    padding: 0.5rem;

    img {
        filter: var(--font-primary-filter);
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;

        .author {
            font: var(--body);
        }
    }
}