.header {
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--background-tertiary);
    padding: 1rem 0;

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        max-width: var(--content-width);
        width: 100%;
        padding: 0 1rem;

        nav {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            margin-left: auto;

            a {
                font: var(--body);
            }
        }
    }
}