.header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
    background-color: var(--background-primary);

    .content {
        display: inherit;
        flex-direction: row;
        gap: 1rem;
        justify-content: right;
        align-items: inherit;
        max-width: var(--content-width);
        width: 100%;
        padding: 0 1rem;

        .bar {
            display: inline-flex;
            flex-direction: inherit;
            align-items: inherit;
            gap: inherit;

            nav {
                display: inherit;
                flex-direction: inherit;
                gap: inherit;
    
                a {
                    color: var(--font-primary);
                    font: var(--body);
                    padding: 0.5rem;
                    border-radius: 5px;
                    transition: opacity 0.3s ease-in-out;

                    &:hover {
                        background-color: var(--background-secondary);
                        outline: var(--outline);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .header .content .bar {
        display: none;
    }
}