.title {
    color: var(--font-primary);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}

.line {
    color: var(--font-primary);
    width: 30%;
    margin-bottom: 30px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

@media (max-width: 850px) {
    .projects {
        grid-template-columns: repeat(1, 1fr);
    }
}