.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

@media (max-width: 850px) {
    .projects {
        grid-template-columns: repeat(1, 1fr);
    }
}

.text {
    color: var(--font-secondary);
    text-align: left;
    font-size: 1.25rem;
}