.header {
    background-color: var(--background-primary);
    padding: 25px 0;
}

.bar {
    display: flex;
    flex-direction: row;
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
}

.socials {
    display: flex;
    gap: 20px;
}

.icon {
    width: 30px;
    height: 30px;
    filter: var(--font-primary-filter);
}

.icon:hover {
    transform: scale(1.2);
    filter: var(--accent-primary-filter);
}

.themeButtonContainer {
    margin-left: auto;
}