.header {
    background-color: var(--background-primary);
    padding: 25px 0;
}

.bar {
    display: flex;
    flex-direction: row;
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
}

.themeButtonContainer {
    margin-left: auto;
}