.title {
    color: var(--font-primary);
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.line {
    color: var(--font-primary);
    width: 30%;
}

.about {
    color: var(--font-primary);
    font-size: 1.25rem;
    text-align: left
}