.about {
    background-color: var(--background-secondary);
    padding-bottom: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
}

.aboutText{
    color: var(--font-tertiary);
    font-size: 1.25rem;
    text-align: left
}

.wave {
    display: flex;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

html[theme="dark"] .wave {
    content: url("waves/hero-bottom-dark.svg");
}

html[theme="light"] .wave {
    content: url("waves/hero-bottom-light.svg");
}