@use '@/styles/variables' as vars;

.link {
  position: relative;
  transition: all ease-in-out 0.3s;
}

.link::after {
  display: inline-block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: vars.$background-tertiary;
  transition: width ease-in-out 0.3s;
}

.active::after {
  width: 100%;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .link:hover::after {
    width: 100%;
    background: vars.$font-quaternary;
  }
}